<!-- <div class="container">
  <table class="table table-bordered"> 
      <thead>
        <tr>
          <th>Nombre Asegurado</th>
          <th>No. Identidad</th>
          <th>No. Certificado</th>
          <th>Observación</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let certificado of cert">
          <td>{{ certificado.nombre_asegurado }}</td>
          <td>{{ certificado.identidad }}</td>
          <td>{{ certificado.numero_certificado }}</td>
          <td>{{ certificado.observaciones }}</td>
        </tr>
      </tbody>
    </table>
    

</div> -->
