
<div class="container">

    <div class="container">
        <div class="row">
          <div class="col-md-4" *ngFor="let personaje of personajes">
            <div class="card mb-4">
              <img [src]="personaje.image" class="card-img-top" alt="{{ personaje.name }}">
              <div class="card-body">
                <h5 class="card-title">{{ personaje.name }}</h5>
                <!-- Puedes agregar más información sobre el personaje aquí si es necesario. -->
              </div>
            </div>
          </div>
        </div>
      </div>   

</div>